@import "../variables";

.image {
	position: relative;
	display: block;
	width: 100%;
	vertical-align: middle;
	background-size: cover;
	background-position: center;

	font-size: 0;

	&::before {
		content: '';
		display: block;
		width: 100%;
		padding-top: var(--image-padding-top);
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
