@import "../../variables";

.tertiary {
	color: $COLOURS_text;
	background: #fff;
	box-shadow: inset 0 0 0 1px change-color($COLOURS_primary, $alpha: 0.2)
			  , 0 1px 4px 0 rgba(0, 0, 0, 0.08);

	transition: opacity 0.15s ease, background-color 0.15s ease;

	&:hover {
		opacity: 1;
		background-color: hsl(0, 0%, 99%);
	}

	&:active {
		opacity: 1;
		background-color: hsl(0, 0%, 97%);
	}

	&:disabled {
		background-color: hsl(0, 0%, 95%);
	}

	&::before {
		background: #fff;
	}
}
