@import "../variables";

.clientPersonCard {
	display: flex;
	align-items: center;

	strong {
		display: block;

		&:not(:last-child) {
			margin-bottom: rem(-3);
		}
	}

	small {
		color: change-color($COLOURS_text, $alpha: 0.5);
		font-size: rem(11);
	}
}

.avatar {
	margin-right: rem(16);
}
