@import "../variables";

.ul {
	position: relative;
	z-index: 2;

	display: flex;
	align-items: stretch;

	list-style: none;
	border-bottom: 1px solid $COLOURS_borderLight;

	&:not(.compact).hasIcons {
		padding-top: rem(30);
	}

	&:not(.compact).sidePadding {
		padding-left: rem($SIZES_spacer);
		padding-right: rem($SIZES_spacer);
	}

	&.compact {
		padding: 0 rem(2);
		align-items: center;
		height: rem(36);
		border-bottom: none;
		background-color: change-color($COLOURS_text, $alpha: 0.08);
		border-radius: rem(8);
	}
}

.kids {
	flex-grow: 1;
	text-align: right;
}
