@import "../variables";

.metadata {
	width: 100%;

	svg:first-child {
		opacity: 0.5;
	}

	dt {
		font-size: 0;

		&:not(:first-child) {
			margin-top: rem(32);
		}
	}

	dd {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: rem(5);
	}

	span {
		display: inline-block;
		flex-grow: 1;
		margin: 0 rem(13);
	}

	small {
		align-self: flex-end;

		color: change-color($COLOURS_text, $alpha: 0.5);
		font-size: rem(12);
		font-weight: bold;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
