@import "../variables";

.trigger {
	cursor: pointer;
}

.ctxMenu {
	position: absolute;
	z-index: $zINDEX_contextMenu;
	max-width: min(#{rem(450)}, 90vw);
	list-style: none;

	background: #fff;
	box-shadow: 0 rem(2) rem(5) 0 rgba(0,0,0,0.10);
	border-radius: rem(8);

	overflow: hidden;

	hr {
		width: 100%;
		height: 1px;
		margin: 0;

		background: $COLOURS_borderLight;
		border: none;
	}
}
