@import "../variables";

.budgetLayout {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, calc(50% - #{rem(104 * 0.5)}));
	grid-gap: rem(104);

	max-width: rem(1162);
	margin: auto;
	padding: rem(150 - 72) 0;
	min-height: 100%;
}

.overview {
	position: sticky;
	top: rem($SIZES_spacer + 72);
	align-self: start;
}

.header {
	margin-bottom: rem(40);

	> div {
		display: flex;
		align-items: flex-end;
		margin-bottom: rem(15);
	}

	h1 {
		margin-bottom: -0.3em;
		margin-right: rem(8);
		font-size: rem(48);
		font-weight: bold;

		small {
			font-size: rem(24);
		}
	}

	p {
		max-width: rem(440);
		font-size: rem(16);
		line-height: 1.5em;
		opacity: 0.5;
	}
}

.transactions {
	padding: rem(32);

	background: #fff;
	box-shadow: 0 rem(2) rem(16) 0 rgba(0,0,0,0.10);
	border-radius: rem(16);

	> header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: rem(24);

		h3 {
			font-size: rem(24);
			font-weight: bold;
		}
	}
}

.day {
	position: relative;

	header {
		position: sticky;
		z-index: 3;
		top: rem(72);

		display: flex;
		justify-content: space-between;
		width: calc(100% + #{rem(64)});
		margin-left: rem(-32);

		color: change-color($COLOURS_text, $alpha: 0.5);
		font-size: rem(14);
		font-weight: bold;
		text-transform: uppercase;

		padding: rem(24) rem(32) rem(16);
		background-color: rgba(255,255,255,0.8);
		backdrop-filter: blur(10px);
	}

	ul {
		list-style: none;
	}
}

.empty {
	display: block;
	padding: rem(11);

	color: change-color($COLOURS_text, $alpha: 0.3);
	font-size: rem(16);
	font-weight: bold;
	text-align: center;

	border: rem(2) dashed $COLOURS_background;
	border-radius: rem(8);
}

.over {
	color: change-color($COLOURS_danger, $alpha: 0.5);
}
