@import "../variables";

.error {
	margin: rem($SIZES_spacer);
}

.board {
	display: grid;
	grid-template-columns: repeat(var(--cols), #{rem(290)});
	height: 100%;
	max-height: 100vh;
	width: max-content;
	padding: rem($SIZES_spacer) rem($SIZES_spacer * 0.75) 0;
}
